* {
    outline: none;
    margin: 0;
}

body {
    overflow: hidden;
}

#webgl-container {
    background-color: lightsteelblue;
    position: absolute;
    top: 0;
    left: 500;
    width: 100%;
    height: 100%;
    z-index: -1;
}